body {
    background-color:darkolivegreen;
    text-align: center;
    color: antiquewhite;
    display: block;
    margin-top: 8px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 60px;
}


#options {
    margin-top: 20px;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
}

.board {
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    width: fit-content;
}
  
#options button {
    margin: 0 10px;
    color: darkolivegreen;
    font-family: 'Times New Roman', Times, serif;
}

.won-banner {
    width: 100%;
    height: 10rem;
    background-color: #b69013;
    top: 60%;
    left: 0;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.won-banner.appear {
    opacity: 1;
    pointer-events: all;
}

.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}

button:disabled {
    color: darkolivegreen
}

#player-1-score {
    font-size: 20px;
}

#player-2-score {
    font-size: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.box{
    width: 100px;
    height: 100px;
    font-size: 4rem;
    color: darkolivegreen;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: antiquewhite;
}

.box:hover {
    background-color:#b69013;;
}

#reset {
    margin-top: 40px;
    padding: 6px 12px 6px 12px;
    font-family: 'Times New Roman', Times, serif;
    color: darkolivegreen;
}

#reset2 {
    margin-top: 26px;
    font-family: 'Times New Roman', Times, serif;
    color: darkolivegreen;
}

#result {
    color:antiquewhite;
    font-size: 35px;
    font-style: italic;
    margin-top: 18px;
}

.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #b69013;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}